[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CCM"]
	path = CCM
	url = https://github.com/gdancik/ccm
[submodule "mlegp"]
	path = mlegp
	url = https://github.com/gdancik/mlegp
